flwr==1.11.1
flwr[simulation]
fsspec==2024.9.0
grpcio==1.66.1
hydra-core==1.3.2
Jinja2==3.1.4
numpy==1.26.4
omegaconf==2.3.0
packaging==24.1
pillow==10.4.0
protobuf==4.25.4
torch==2.4.1
torchvision==0.19.1
typing_extensions==4.12.2
